# Pandas Functions

In [2]:
import pandas as pd 
import numpy as np
csv3 = pd.read_csv("E:\\learing code\\Data Science\\pandas\\record.csv")



csv3

        Time                       Name      Year Branch    Score  Rank
0   20:53:27       Omkar Eknath Vaidya   3rd year     AI  16 / 20     1
1   20:51:13      Shreya Ravindra Tiple  2nd year     AI  15 / 20     2
2   21:00:53               Sahil Gedam   3rd year     IT  15 / 20     3
3   21:00:43                Akash Bitle  3rd year     IT  14 / 20     4
4   20:40:01           Dewank Bawankar   3rd year     AI  13 / 20     5
5   20:53:06         Bhairavi Kelwadkar  3rd year    CSE  13 / 20     6
6   21:00:00     Abhay Vinod Sonkusare   2nd year     IT  13 / 20     7
7   21:00:21             Shreyash Hore   2nd year    CSE  13 / 20     8
8   21:06:03          Prashant Chachere  4th year    CSE  13 / 20     9
9   20:48:38               Athira Nair   3rd year    CSE   Dec-20    10
10  20:58:20         Ganesh Rahangdale   3rd year     IT   Nov-20    11
11  20:41:13         Akhilesh Titarmare  3rd year    CSE   Oct-20    12
12  20:43:26  Harsh Dnyaneshwar Lonare   3rd year    CSE   Oct-20    13
13  20:46:43              Nikhil Charde  4th year    CSE   Oct-20    14
14  20:48:23                Komal Shahu  3rd year     AI   Oct-20    15
15  20:52:28             Chhavi Padigel  2nd year     AI   Oct-20    16
16  20:56:28                Komal Koli   2nd year     AI   Oct-20    17
17  20:57:19        Diksha Manoj Kamble  3rd year     AI   Oct-20    18
18  21:03:39        Shreyas Khobragade   2nd year    CSE   Sep-20    19
19  21:05:36   Shweta Someshwar Bawane   3rd year     AI   Sep-20    20
20  20:38:32              Punam Ambule   2nd year    CSE   Aug-20    21
21  20:39:09       Pournima Y Tembhare   2nd year    CSE   Aug-20    22
22  20:41:13          Jayesh Gotephode   3rd year    CSE   Aug-20    23
23  20:52:34    Kunal Tamraj Harinkhede  3rd year    CSE   Aug-20    24
24  20:48:03           Bhumeshwar Katre  2nd year     AI   Jul-20    25
25  20:49:16           Prajwal Pakhale   2nd year    CSE   Jul-20    26
26  20:43:23               Shreya ukey   2nd year     AI   Jun-20    27
27  20:44:48              Nikhil Surkar  3rd year    CSE   Jun-20    28
28  20:46:03            Sachin Meshram   3rd year    CSE   May-20    29
29  20:49:24     ABHISHEK PRAKASH PATLE  3rd year    CSE   May-20    30
30  20:45:36    Ritik Fulchand Rajgire   3rd year    CSE   Apr-20    31
31  20:56:55         Chaitali moundekar  3rd year    CSE   Apr-20    32
32  21:00:28               Yash Dharmik  2nd year    CSE   Apr-20    33
33  20:45:22                        SAK  3rd year    CSE   Feb-20    34
34  21:03:29      Ritik Kishor Gulhane   3rd year    CSE   0 / 20    35

In [3]:
csv3.index

RangeIndex(start=0, stop=35, step=1)

In [4]:
csv3.columns

Index(['Time', 'Name', 'Year', 'Branch', 'Score', 'Rank'], dtype='object')

In [5]:
csv3.describe()

            Rank
count  35.000000
mean   18.000000
std    10.246951
min     1.000000
25%     9.500000
50%    18.000000
75%    26.500000
max    35.000000

head function :due to this fuction we can get minmum data from the top opsition

In [8]:
csv3.head(10)

       Time                    Name      Year Branch    Score  Rank
0  20:53:27    Omkar Eknath Vaidya   3rd year     AI  16 / 20     1
1  20:51:13   Shreya Ravindra Tiple  2nd year     AI  15 / 20     2
2  21:00:53            Sahil Gedam   3rd year     IT  15 / 20     3
3  21:00:43             Akash Bitle  3rd year     IT  14 / 20     4
4  20:40:01        Dewank Bawankar   3rd year     AI  13 / 20     5
5  20:53:06      Bhairavi Kelwadkar  3rd year    CSE  13 / 20     6
6  21:00:00  Abhay Vinod Sonkusare   2nd year     IT  13 / 20     7
7  21:00:21          Shreyash Hore   2nd year    CSE  13 / 20     8
8  21:06:03       Prashant Chachere  4th year    CSE  13 / 20     9
9  20:48:38            Athira Nair   3rd year    CSE   Dec-20    10

In [10]:
csv3.tail(2)

        Time                   Name      Year Branch   Score  Rank
33  20:45:22                    SAK  3rd year    CSE  Feb-20    34
34  21:03:29  Ritik Kishor Gulhane   3rd year    CSE  0 / 20    35

In [14]:
print(type(csv3))

csv3[12:17]

<class 'pandas.core.frame.DataFrame'>

        Time                       Name      Year Branch   Score  Rank
12  20:43:26  Harsh Dnyaneshwar Lonare   3rd year    CSE  Oct-20    13
13  20:46:43              Nikhil Charde  4th year    CSE  Oct-20    14
14  20:48:23                Komal Shahu  3rd year     AI  Oct-20    15
15  20:52:28             Chhavi Padigel  2nd year     AI  Oct-20    16
16  20:56:28                Komal Koli   2nd year     AI  Oct-20    17

In [15]:
csv3.index.array

<PandasArray>
[ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17, 18,
 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34]
Length: 35, dtype: int64

convert dataframe into numpy

In [17]:
num =  csv3.to_numpy()
print(num)

num

[['20:53:27' 'Omkar Eknath Vaidya ' '3rd year' 'AI' '16 / 20' 1]
 ['20:51:13' 'Shreya Ravindra Tiple' '2nd year' 'AI' '15 / 20' 2]
 ['21:00:53' 'Sahil Gedam ' '3rd year' 'IT' '15 / 20' 3]
 ['21:00:43' 'Akash Bitle' '3rd year' 'IT' '14 / 20' 4]
 ['20:40:01' 'Dewank Bawankar ' '3rd year' 'AI' '13 / 20' 5]
 ['20:53:06' 'Bhairavi Kelwadkar' '3rd year' 'CSE' '13 / 20' 6]
 ['21:00:00' 'Abhay Vinod Sonkusare ' '2nd year' 'IT' '13 / 20' 7]
 ['21:00:21' 'Shreyash Hore ' '2nd year' 'CSE' '13 / 20' 8]
 ['21:06:03' 'Prashant Chachere' '4th year' 'CSE' '13 / 20' 9]
 ['20:48:38' 'Athira Nair ' '3rd year' 'CSE' 'Dec-20' 10]
 ['20:58:20' 'Ganesh Rahangdale ' '3rd year' 'IT' 'Nov-20' 11]
 ['20:41:13' 'Akhilesh Titarmare' '3rd year' 'CSE' 'Oct-20' 12]
 ['20:43:26' 'Harsh Dnyaneshwar Lonare ' '3rd year' 'CSE' 'Oct-20' 13]
 ['20:46:43' 'Nikhil Charde' '4th year' 'CSE' 'Oct-20' 14]
 ['20:48:23' 'Komal Shahu' '3rd year' 'AI' 'Oct-20' 15]
 ['20:52:28' 'Chhavi Padigel' '2nd year' 'AI' 'Oct-20' 16]
 ['20:56:28' 'Komal Koli ' '2nd year' 'AI' 'Oct-20' 17]
 ['20:57:19' 'Diksha Manoj Kamble' '3rd year' 'AI' 'Oct-20' 18]
 ['21:03:39' 'Shreyas Khobragade ' '2nd year' 'CSE' 'Sep-20' 19]
 ['21:05:36' 'Shweta Someshwar Bawane ' '3rd year' 'AI' 'Sep-20' 20]
 ['20:38:32' 'Punam Ambule ' '2nd year' 'CSE' 'Aug-20' 21]
 ['20:39:09' 'Pournima Y Tembhare ' '2nd year' 'CSE' 'Aug-20' 22]
 ['20:41:13' 'Jayesh Gotephode ' '3rd year' 'CSE' 'Aug-20' 23]
 ['20:52:34' 'Kunal Tamraj Harinkhede' '3rd year' 'CSE' 'Aug-20' 24]
 ['20:48:03' 'Bhumeshwar Katre' '2nd year' 'AI' 'Jul-20' 25]
 ['20:49:16' 'Prajwal Pakhale ' '2nd year' 'CSE' 'Jul-20' 26]
 ['20:43:23' 'Shreya ukey ' '2nd year' 'AI' 'Jun-20' 27]
 ['20:44:48' 'Nikhil Surkar' '3rd year' 'CSE' 'Jun-20' 28]
 ['20:46:03' 'Sachin Meshram ' '3rd year' 'CSE' 'May-20' 29]
 ['20:49:24' 'ABHISHEK PRAKASH PATLE' '3rd year' 'CSE' 'May-20' 30]
 ['20:45:36' 'Ritik Fulchand Rajgire ' '3rd year' 'CSE' 'Apr-20' 31]
 ['20:56:55' 'Chaitali moundekar' '3rd year' 'CSE' 'Apr-20' 32]
 ['21:00:28' 'Yash Dharmik' '2nd year' 'CSE' 'Apr-20' 33]
 ['20:45:22' 'SAK' '3rd year' 'CSE' 'Feb-20' 34]
 ['21:03:29' 'Ritik Kishor Gulhane ' '3rd year' 'CSE' '0 / 20' 35]]

array([['20:53:27', 'Omkar Eknath Vaidya ', '3rd year', 'AI', '16 / 20',
        1],
       ['20:51:13', 'Shreya Ravindra Tiple', '2nd year', 'AI', '15 / 20',
        2],
       ['21:00:53', 'Sahil Gedam ', '3rd year', 'IT', '15 / 20', 3],
       ['21:00:43', 'Akash Bitle', '3rd year', 'IT', '14 / 20', 4],
       ['20:40:01', 'Dewank Bawankar ', '3rd year', 'AI', '13 / 20', 5],
       ['20:53:06', 'Bhairavi Kelwadkar', '3rd year', 'CSE', '13 / 20',
        6],
       ['21:00:00', 'Abhay Vinod Sonkusare ', '2nd year', 'IT',
        '13 / 20', 7],
       ['21:00:21', 'Shreyash Hore ', '2nd year', 'CSE', '13 / 20', 8],
       ['21:06:03', 'Prashant Chachere', '4th year', 'CSE', '13 / 20', 9],
       ['20:48:38', 'Athira Nair ', '3rd year', 'CSE', 'Dec-20', 10],
       ['20:58:20', 'Ganesh Rahangdale ', '3rd year', 'IT', 'Nov-20', 11],
       ['20:41:13', 'Akhilesh Titarmare', '3rd year', 'CSE', 'Oct-20',
        12],
       ['20:43:26', 'Harsh Dnyaneshwar Lonare ', '3rd year', 'CSE',
        'Oct-20', 13],
       ['20:46:43', 'Nikhil Charde', '4th year', 'CSE', 'Oct-20', 14],
       ['20:48:23', 'Komal Shahu', '3rd year', 'AI', 'Oct-20', 15],
       ['20:52:28', 'Chhavi Padigel', '2nd year', 'AI', 'Oct-20', 16],
       ['20:56:28', 'Komal Koli ', '2nd year', 'AI', 'Oct-20', 17],
       ['20:57:19', 'Diksha Manoj Kamble', '3rd year', 'AI', 'Oct-20',
        18],
       ['21:03:39', 'Shreyas Khobragade ', '2nd year', 'CSE', 'Sep-20',
        19],
       ['21:05:36', 'Shweta Someshwar Bawane ', '3rd year', 'AI',
        'Sep-20', 20],
       ['20:38:32', 'Punam Ambule ', '2nd year', 'CSE', 'Aug-20', 21],
       ['20:39:09', 'Pournima Y Tembhare ', '2nd year', 'CSE', 'Aug-20',
        22],
       ['20:41:13', 'Jayesh Gotephode ', '3rd year', 'CSE', 'Aug-20', 23],
       ['20:52:34', 'Kunal Tamraj Harinkhede', '3rd year', 'CSE',
        'Aug-20', 24],
       ['20:48:03', 'Bhumeshwar Katre', '2nd year', 'AI', 'Jul-20', 25],
       ['20:49:16', 'Prajwal Pakhale ', '2nd year', 'CSE', 'Jul-20', 26],
       ['20:43:23', 'Shreya ukey ', '2nd year', 'AI', 'Jun-20', 27],
       ['20:44:48', 'Nikhil Surkar', '3rd year', 'CSE', 'Jun-20', 28],
       ['20:46:03', 'Sachin Meshram ', '3rd year', 'CSE', 'May-20', 29],
       ['20:49:24', 'ABHISHEK PRAKASH PATLE', '3rd year', 'CSE',
        'May-20', 30],
       ['20:45:36', 'Ritik Fulchand Rajgire ', '3rd year', 'CSE',
        'Apr-20', 31],
       ['20:56:55', 'Chaitali moundekar', '3rd year', 'CSE', 'Apr-20',
        32],
       ['21:00:28', 'Yash Dharmik', '2nd year', 'CSE', 'Apr-20', 33],
       ['20:45:22', 'SAK', '3rd year', 'CSE', 'Feb-20', 34],
       ['21:03:29', 'Ritik Kishor Gulhane ', '3rd year', 'CSE', '0 / 20',
        35]], dtype=object)

In [28]:
import numpy as np
num1 = np.asarray(csv3.head(8))
num1

array([['20:53:27', 'Omkar Eknath Vaidya ', '3rd year', 'AI', '16 / 20',
        1],
       ['20:51:13', 'Shreya Ravindra Tiple', '2nd year', 'AI', '15 / 20',
        2],
       ['21:00:53', 'Sahil Gedam ', '3rd year', 'IT', '15 / 20', 3],
       ['21:00:43', 'Akash Bitle', '3rd year', 'IT', '14 / 20', 4],
       ['20:40:01', 'Dewank Bawankar ', '3rd year', 'AI', '13 / 20', 5],
       ['20:53:06', 'Bhairavi Kelwadkar', '3rd year', 'CSE', '13 / 20',
        6],
       ['21:00:00', 'Abhay Vinod Sonkusare ', '2nd year', 'IT',
        '13 / 20', 7],
       ['21:00:21', 'Shreyash Hore ', '2nd year', 'CSE', '13 / 20', 8]],
      dtype=object)

In [29]:
csv3.sort_index(axis=0 ,ascending=False)

        Time                       Name      Year Branch    Score  Rank
34  21:03:29      Ritik Kishor Gulhane   3rd year    CSE   0 / 20    35
33  20:45:22                        SAK  3rd year    CSE   Feb-20    34
32  21:00:28               Yash Dharmik  2nd year    CSE   Apr-20    33
31  20:56:55         Chaitali moundekar  3rd year    CSE   Apr-20    32
30  20:45:36    Ritik Fulchand Rajgire   3rd year    CSE   Apr-20    31
29  20:49:24     ABHISHEK PRAKASH PATLE  3rd year    CSE   May-20    30
28  20:46:03            Sachin Meshram   3rd year    CSE   May-20    29
27  20:44:48              Nikhil Surkar  3rd year    CSE   Jun-20    28
26  20:43:23               Shreya ukey   2nd year     AI   Jun-20    27
25  20:49:16           Prajwal Pakhale   2nd year    CSE   Jul-20    26
24  20:48:03           Bhumeshwar Katre  2nd year     AI   Jul-20    25
23  20:52:34    Kunal Tamraj Harinkhede  3rd year    CSE   Aug-20    24
22  20:41:13          Jayesh Gotephode   3rd year    CSE   Aug-20    23
21  20:39:09       Pournima Y Tembhare   2nd year    CSE   Aug-20    22
20  20:38:32              Punam Ambule   2nd year    CSE   Aug-20    21
19  21:05:36   Shweta Someshwar Bawane   3rd year     AI   Sep-20    20
18  21:03:39        Shreyas Khobragade   2nd year    CSE   Sep-20    19
17  20:57:19        Diksha Manoj Kamble  3rd year     AI   Oct-20    18
16  20:56:28                Komal Koli   2nd year     AI   Oct-20    17
15  20:52:28             Chhavi Padigel  2nd year     AI   Oct-20    16
14  20:48:23                Komal Shahu  3rd year     AI   Oct-20    15
13  20:46:43              Nikhil Charde  4th year    CSE   Oct-20    14
12  20:43:26  Harsh Dnyaneshwar Lonare   3rd year    CSE   Oct-20    13
11  20:41:13         Akhilesh Titarmare  3rd year    CSE   Oct-20    12
10  20:58:20         Ganesh Rahangdale   3rd year     IT   Nov-20    11
9   20:48:38               Athira Nair   3rd year    CSE   Dec-20    10
8   21:06:03          Prashant Chachere  4th year    CSE  13 / 20     9
7   21:00:21             Shreyash Hore   2nd year    CSE  13 / 20     8
6   21:00:00     Abhay Vinod Sonkusare   2nd year     IT  13 / 20     7
5   20:53:06         Bhairavi Kelwadkar  3rd year    CSE  13 / 20     6
4   20:40:01           Dewank Bawankar   3rd year     AI  13 / 20     5
3   21:00:43                Akash Bitle  3rd year     IT  14 / 20     4
2   21:00:53               Sahil Gedam   3rd year     IT  15 / 20     3
1   20:51:13      Shreya Ravindra Tiple  2nd year     AI  15 / 20     2
0   20:53:27       Omkar Eknath Vaidya   3rd year     AI  16 / 20     1

In [31]:
csv3["Name"][0] ="Harish Hedau"
csv3

C:\Users\Hp\AppData\Local\Temp\ipykernel_6304\3804901042.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  csv3["Name"][0] ="Harish Hedau"

        Time                       Name      Year Branch    Score  Rank
0   20:53:27               Harish Hedau  3rd year     AI  16 / 20     1
1   20:51:13      Shreya Ravindra Tiple  2nd year     AI  15 / 20     2
2   21:00:53               Sahil Gedam   3rd year     IT  15 / 20     3
3   21:00:43                Akash Bitle  3rd year     IT  14 / 20     4
4   20:40:01           Dewank Bawankar   3rd year     AI  13 / 20     5
5   20:53:06         Bhairavi Kelwadkar  3rd year    CSE  13 / 20     6
6   21:00:00     Abhay Vinod Sonkusare   2nd year     IT  13 / 20     7
7   21:00:21             Shreyash Hore   2nd year    CSE  13 / 20     8
8   21:06:03          Prashant Chachere  4th year    CSE  13 / 20     9
9   20:48:38               Athira Nair   3rd year    CSE   Dec-20    10
10  20:58:20         Ganesh Rahangdale   3rd year     IT   Nov-20    11
11  20:41:13         Akhilesh Titarmare  3rd year    CSE   Oct-20    12
12  20:43:26  Harsh Dnyaneshwar Lonare   3rd year    CSE   Oct-20    13
13  20:46:43              Nikhil Charde  4th year    CSE   Oct-20    14
14  20:48:23                Komal Shahu  3rd year     AI   Oct-20    15
15  20:52:28             Chhavi Padigel  2nd year     AI   Oct-20    16
16  20:56:28                Komal Koli   2nd year     AI   Oct-20    17
17  20:57:19        Diksha Manoj Kamble  3rd year     AI   Oct-20    18
18  21:03:39        Shreyas Khobragade   2nd year    CSE   Sep-20    19
19  21:05:36   Shweta Someshwar Bawane   3rd year     AI   Sep-20    20
20  20:38:32              Punam Ambule   2nd year    CSE   Aug-20    21
21  20:39:09       Pournima Y Tembhare   2nd year    CSE   Aug-20    22
22  20:41:13          Jayesh Gotephode   3rd year    CSE   Aug-20    23
23  20:52:34    Kunal Tamraj Harinkhede  3rd year    CSE   Aug-20    24
24  20:48:03           Bhumeshwar Katre  2nd year     AI   Jul-20    25
25  20:49:16           Prajwal Pakhale   2nd year    CSE   Jul-20    26
26  20:43:23               Shreya ukey   2nd year     AI   Jun-20    27
27  20:44:48              Nikhil Surkar  3rd year    CSE   Jun-20    28
28  20:46:03            Sachin Meshram   3rd year    CSE   May-20    29
29  20:49:24     ABHISHEK PRAKASH PATLE  3rd year    CSE   May-20    30
30  20:45:36    Ritik Fulchand Rajgire   3rd year    CSE   Apr-20    31
31  20:56:55         Chaitali moundekar  3rd year    CSE   Apr-20    32
32  21:00:28               Yash Dharmik  2nd year    CSE   Apr-20    33
33  20:45:22                        SAK  3rd year    CSE   Feb-20    34
34  21:03:29      Ritik Kishor Gulhane   3rd year    CSE   0 / 20    35

Loc function are use for change the value inside the table

In [38]:
csv3.loc[0 , "Name"] = "Vivek"
csv3

,Time,Name,Year,Branch,Score,Rank,"(Name, 0)","(0, Name)"
0,20:53:27,Vivek,3rd year,AI,16 / 20,1,Vivek,Vivek
1,20:51:13,Shreya Ravindra Tiple,2nd year,AI,15 / 20,2,Vivek,Vivek
2,21:00:53,Sahil Gedam,3rd year,IT,15 / 20,3,Vivek,Vivek
3,21:00:43,Akash Bitle,3rd year,IT,14 / 20,4,Vivek,Vivek
4,20:40:01,Dewank Bawankar,3rd year,AI,13 / 20,5,Vivek,Vivek
5,20:53:06,Bhairavi Kelwadkar,3rd year,CSE,13 / 20,6,Vivek,Vivek
6,21:00:00,Abhay Vinod Sonkusare,2nd year,IT,13 / 20,7,Vivek,Vivek
7,21:00:21,Shreyash Hore,2nd year,CSE,13 / 20,8,Vivek,Vivek
8,21:06:03,Prashant Chachere,4th year,CSE,13 / 20,9,Vivek,Vivek
9,20:48:38,Athira Nair,3rd year,CSE,Dec-20,10,Vivek,Vivek
10,20:58:20,Ganesh Rahangdale,3rd year,IT,Nov-20,11,Vivek,Vivek
11,20:41:13,Akhilesh Titarmare,3rd year,CSE,Oct-20,12,Vivek,Vivek
12,20:43:26,Harsh Dnyaneshwar Lonare,3rd year,CSE,Oct-20,13,Vivek,Vivek
13,20:46:43,Nikhil Charde,4th year,CSE,Oct-20,14,Vivek,Vivek
14,20:48:23,Komal Shahu,3rd year,AI,Oct-20,15,Vivek,Vivek
15,20:52:28,Chhavi Padigel,2nd year,AI,Oct-20,16,Vivek,Vivek
16,20:56:28,Komal Koli,2nd year,AI,Oct-20,17,Vivek,Vivek
17,20:57:19,Diksha Manoj Kamble,3rd year,AI,Oct-20,18,Vivek,Vivek
18,21:03:39,Shreyas Khobragade,2nd year,CSE,Sep-20,19,Vivek,Vivek
19,21:05:36,Shweta Someshwar Bawane,3rd year,AI,Sep-20,20,Vivek,Vivek
20,20:38:32,Punam Ambule,2nd year,CSE,Aug-20,21,Vivek,Vivek
21,20:39:09,Pournima Y Tembhare,2nd year,CSE,Aug-20,22,Vivek,Vivek
22,20:41:13,Jayesh Gotephode,3rd year,CSE,Aug-20,23,Vivek,Vivek
23,20:52:34,Kunal Tamraj Harinkhede,3rd year,CSE,Aug-20,24,Vivek,Vivek
24,20:48:03,Bhumeshwar Katre,2nd year,AI,Jul-20,25,Vivek,Vivek
25,20:49:16,Prajwal Pakhale,2nd year,CSE,Jul-20,26,Vivek,Vivek
26,20:43:23,Shreya ukey,2nd year,AI,Jun-20,27,Vivek,Vivek
27,20:44:48,Nikhil Surkar,3rd year,CSE,Jun-20,28,Vivek,Vivek
28,20:46:03,Sachin Meshram,3rd year,CSE,May-20,29,Vivek,Vivek
29,20:49:24,ABHISHEK PRAKASH PATLE,3rd year,CSE,May-20,30,Vivek,Vivek
30,20:45:36,Ritik Fulchand Rajgire,3rd year,CSE,Apr-20,31,Vivek,Vivek
31,20:56:55,Chaitali moundekar,3rd year,CSE,Apr-20,32,Vivek,Vivek
32,21:00:28,Yash Dharmik,2nd year,CSE,Apr-20,33,Vivek,Vivek
33,20:45:22,SAK,3rd year,CSE,Feb-20,34,Vivek,Vivek
34,21:03:29,Ritik Kishor Gulhane,3rd year,CSE,0 / 20,35,Vivek,Vivek

fetch the data from dataFrame

In [39]:
csv3.loc[[2,3],["Name" ,"Rank"]]

           Name  Rank
2  Sahil Gedam      3
3   Akash Bitle     4

In [45]:
csv3.loc[[2,5 ,6],:]

,Time,Name,Year,Branch,Score,Rank,"(Name, 0)","(0, Name)"
2,21:00:53,Sahil Gedam,3rd year,IT,15 / 20,3,Vivek,Vivek
5,20:53:06,Bhairavi Kelwadkar,3rd year,CSE,13 / 20,6,Vivek,Vivek
6,21:00:00,Abhay Vinod Sonkusare,2nd year,IT,13 / 20,7,Vivek,Vivek

In [46]:
csv3.loc[:,["Name"]]

                         Name
0                       Vivek
1       Shreya Ravindra Tiple
2                Sahil Gedam
3                 Akash Bitle
4            Dewank Bawankar
5          Bhairavi Kelwadkar
6      Abhay Vinod Sonkusare
7              Shreyash Hore
8           Prashant Chachere
9                Athira Nair
10         Ganesh Rahangdale
11         Akhilesh Titarmare
12  Harsh Dnyaneshwar Lonare
13              Nikhil Charde
14                Komal Shahu
15             Chhavi Padigel
16                Komal Koli
17        Diksha Manoj Kamble
18        Shreyas Khobragade
19   Shweta Someshwar Bawane
20              Punam Ambule
21       Pournima Y Tembhare
22          Jayesh Gotephode
23    Kunal Tamraj Harinkhede
24           Bhumeshwar Katre
25           Prajwal Pakhale
26               Shreya ukey
27              Nikhil Surkar
28            Sachin Meshram
29     ABHISHEK PRAKASH PATLE
30    Ritik Fulchand Rajgire
31         Chaitali moundekar
32               Yash Dharmik
33                        SAK
34      Ritik Kishor Gulhane

iloc function for getting the data from the dataframe

In [48]:
csv3.iloc[0]

Time         20:53:27
Name            Vivek
Year         3rd year
Branch             AI
Score         16 / 20
Rank                1
(Name, 0)       Vivek
(0, Name)       Vivek
Name: 0, dtype: object

In [49]:
# csv3.iloc[0,1]

'Vivek'

drop function

In [8]:
import pandas as pd
csv4 = pd.read_csv("E:\\learing code\\Data Science\\pandas\\record.csv")
csv4.drop("Name",axis=1)

        Time      Year Branch    Score  Rank
0   20:53:27  3rd year     AI  16 / 20     1
1   20:51:13  2nd year     AI  15 / 20     2
2   21:00:53  3rd year     IT  15 / 20     3
3   21:00:43  3rd year     IT  14 / 20     4
4   20:40:01  3rd year     AI  13 / 20     5
5   20:53:06  3rd year    CSE  13 / 20     6
6   21:00:00  2nd year     IT  13 / 20     7
7   21:00:21  2nd year    CSE  13 / 20     8
8   21:06:03  4th year    CSE  13 / 20     9
9   20:48:38  3rd year    CSE   Dec-20    10
10  20:58:20  3rd year     IT   Nov-20    11
11  20:41:13  3rd year    CSE   Oct-20    12
12  20:43:26  3rd year    CSE   Oct-20    13
13  20:46:43  4th year    CSE   Oct-20    14
14  20:48:23  3rd year     AI   Oct-20    15
15  20:52:28  2nd year     AI   Oct-20    16
16  20:56:28  2nd year     AI   Oct-20    17
17  20:57:19  3rd year     AI   Oct-20    18
18  21:03:39  2nd year    CSE   Sep-20    19
19  21:05:36  3rd year     AI   Sep-20    20
20  20:38:32  2nd year    CSE   Aug-20    21
21  20:39:09  2nd year    CSE   Aug-20    22
22  20:41:13  3rd year    CSE   Aug-20    23
23  20:52:34  3rd year    CSE   Aug-20    24
24  20:48:03  2nd year     AI   Jul-20    25
25  20:49:16  2nd year    CSE   Jul-20    26
26  20:43:23  2nd year     AI   Jun-20    27
27  20:44:48  3rd year    CSE   Jun-20    28
28  20:46:03  3rd year    CSE   May-20    29
29  20:49:24  3rd year    CSE   May-20    30
30  20:45:36  3rd year    CSE   Apr-20    31
31  20:56:55  3rd year    CSE   Apr-20    32
32  21:00:28  2nd year    CSE   Apr-20    33
33  20:45:22  3rd year    CSE   Feb-20    34
34  21:03:29  3rd year    CSE   0 / 20    35

In [9]:
csv4.drop(0,axis=0)

        Time                       Name      Year Branch    Score  Rank
1   20:51:13      Shreya Ravindra Tiple  2nd year     AI  15 / 20     2
2   21:00:53               Sahil Gedam   3rd year     IT  15 / 20     3
3   21:00:43                Akash Bitle  3rd year     IT  14 / 20     4
4   20:40:01           Dewank Bawankar   3rd year     AI  13 / 20     5
5   20:53:06         Bhairavi Kelwadkar  3rd year    CSE  13 / 20     6
6   21:00:00     Abhay Vinod Sonkusare   2nd year     IT  13 / 20     7
7   21:00:21             Shreyash Hore   2nd year    CSE  13 / 20     8
8   21:06:03          Prashant Chachere  4th year    CSE  13 / 20     9
9   20:48:38               Athira Nair   3rd year    CSE   Dec-20    10
10  20:58:20         Ganesh Rahangdale   3rd year     IT   Nov-20    11
11  20:41:13         Akhilesh Titarmare  3rd year    CSE   Oct-20    12
12  20:43:26  Harsh Dnyaneshwar Lonare   3rd year    CSE   Oct-20    13
13  20:46:43              Nikhil Charde  4th year    CSE   Oct-20    14
14  20:48:23                Komal Shahu  3rd year     AI   Oct-20    15
15  20:52:28             Chhavi Padigel  2nd year     AI   Oct-20    16
16  20:56:28                Komal Koli   2nd year     AI   Oct-20    17
17  20:57:19        Diksha Manoj Kamble  3rd year     AI   Oct-20    18
18  21:03:39        Shreyas Khobragade   2nd year    CSE   Sep-20    19
19  21:05:36   Shweta Someshwar Bawane   3rd year     AI   Sep-20    20
20  20:38:32              Punam Ambule   2nd year    CSE   Aug-20    21
21  20:39:09       Pournima Y Tembhare   2nd year    CSE   Aug-20    22
22  20:41:13          Jayesh Gotephode   3rd year    CSE   Aug-20    23
23  20:52:34    Kunal Tamraj Harinkhede  3rd year    CSE   Aug-20    24
24  20:48:03           Bhumeshwar Katre  2nd year     AI   Jul-20    25
25  20:49:16           Prajwal Pakhale   2nd year    CSE   Jul-20    26
26  20:43:23               Shreya ukey   2nd year     AI   Jun-20    27
27  20:44:48              Nikhil Surkar  3rd year    CSE   Jun-20    28
28  20:46:03            Sachin Meshram   3rd year    CSE   May-20    29
29  20:49:24     ABHISHEK PRAKASH PATLE  3rd year    CSE   May-20    30
30  20:45:36    Ritik Fulchand Rajgire   3rd year    CSE   Apr-20    31
31  20:56:55         Chaitali moundekar  3rd year    CSE   Apr-20    32
32  21:00:28               Yash Dharmik  2nd year    CSE   Apr-20    33
33  20:45:22                        SAK  3rd year    CSE   Feb-20    34
34  21:03:29      Ritik Kishor Gulhane   3rd year    CSE   0 / 20    35